<section class="hero bg-gray-200 p-8">
    <h2 class="text-3xl font-bold mb-4">Bienvenidos al Colegio Unidad Educativa Las Palmas</h2>
    <p>Somos una institución educativa comprometida con la excelencia académica y el desarrollo integral de nuestros estudiantes.</p>
</section>

<section class="programas bg-white p-8">
    <div class="programa">
        <img src="assets/docentes-colegio.jpg" alt="docentes-colegio" class="mx-auto w-80 h-50">

        <h2 class="text-2xl font-bold mb-2">Programas Académicos</h2>
        <p>Ofrecemos una amplia gama de programas académicos diseñados para fomentar el aprendizaje y el crecimiento de nuestros estudiantes.</p>
    </div>
</section>

<section class="noticias bg-gray-200 p-8">
    <h2 class="text-2xl font-bold mb-4">Últimas Noticias</h2>
    <ul class="list-disc ml-8">
        <li><a href="#" class="hover:underline">Inscripciones abiertas para el próximo semestre</a></li>
        <li><a href="#" class="hover:underline">Celebración del Día del Estudiante</a></li>
        <li><a href="#" class="hover:underline">Resultados destacados en la Olimpiada de Matemáticas</a></li>
    </ul>
</section>

<section class="RedesSociales bg-white p-8">
    <h2 class="text-2xl font-bold mb-4">Visita Nuestras Redes Sociales</h2>
    <ul class="list-disc ml-8">
        <li><a href="#" class="hover:underline">unidadeducativalaspalmas</a></li>
    </ul>
    <img src="assets/redes-sociales.webp" alt="redes-sociales" class="mt-4 w-48 h-32">
</section>

